<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Spam idintifier</h2>

    <form action="{{ url_for('predict') }}" method="post">
        <textarea id="comments" name="mesg" rows="4" cols="50" placeholder="Past your mail here..."></textarea>

        <!-- <input type="text" name="mesg"> -->
        <button type="submit">check</button>
        
    </form>
</body>
</html>