<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Flask Examples ...</h1>
    <p>This is my Home page</p>
    <form action="{{ url_for('about') }}" method='post'>
        <p>Name</p>
        <input type="text" name="name"><br>
        <p>surname</p>
        <input type="text" name="surname"><br>
        <p>Email</p>
        <input type="email" name="email">
        <p>Mobile</p>
        <input type="text" name="mobile"><br>
        <button type=" submit"> Submit </button>
    </form>
    
    <br><br><br><br>

    <!-- Making Button to switch into routes -->
    <a href="http://127.0.0.1:8080/vinod" style="display: inline;"><button>VINOD SIR</button></a>
    <a href="http://127.0.0.1:8080/jyoti" style="display: inline;"><button>JYOTI</button></a>
    <a href="http://127.0.0.1:8080/dharm" style="display: inline;"><button>DHARM</button></a>

<footer>smartengineer0786@gmail.com</footer>
</body>
</html>